@import 'navbar';
@import 'colors';
@import 'media-querie';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    
}


.hero {
    background-color:$light;

    &_container {
       
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        margin:0 auto;
        height: 90vh;
        z-index: 1;
        width: 100%;
        max-width: 1200px;
        padding-left: 24px;
        padding-right: 24px;


        @include tablet {
            grid-template-columns: 1fr;
            height: 100%;

        }

        .container_left {
            width: 100%;
            line-height: 1.2;

            @include tablet {
                padding:5rem 0;
            }
            @include mobile {
                line-height: 1.5;
            }
        }

        .container_left h1 {
         font-size: 4rem;
         color: $lime;


         @include mobile{
            font-size:2rem;
         }

        }

        .container_left h2 {
            font-size: 3rem;
            color: $dark;
   
   
            @include mobile{
               font-size:1rem;
            }
   
           }

           .container_left p {
            font-size: 1rem;
            font-weight: 700;
            color: $dark;
            margin-top: 1rem;
            font-weight: 700;

   
   
            @include mobile{
               font-size:1rem;
            }
   
           }

           .container_btn {
               font-size: 1rem;
               background-color: $lime;
               padding: 14px 32px;
               border-radius: 4px;
               border:none;
               color:$light;
               margin-top: 2rem;
               cursor: pointer;
               position: relative;
               transition: all 0.3s;

                 
           }

           .container_btn p3{
               position:relative;
               z-index: 2;
               color: $light;
               text-decoration: none;

           }
           .container_btn::after {
               position: absolute;
               content: '';
               top:0;
               left: 0;
               width: 0;
               height: 100%;
               background: $orange;
               transition: all 0.3s ease;
               border-radius: 4px;
           }

           .container_btn:hover::after {
               width: 100%;
           }

           .container_right {
               text-align: center;
           }
 
           .container_img{
               height: 100%;
               width: 100%;
               max-height:45rem;
           }

    }
}

.signup_login {
    //opacity: 4;
    max-height: 40rem;
    border-radius: 20px;
    display:grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    margin-top:20vh;
    background-image: url('https://images.immediate.co.uk/production/volatile/sites/4/2020/08/GettyImages-91354007-768e5d8.jpg?quality=90&resize=768,574');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 15rem;
    margin-right: 15rem;
    @media screen and (max-width:1100px) { //duzenle
        margin-left: 3rem;
        margin-right: 3rem;
    }
    

    //tablet ve mobile e gore ayri ayri margin-left ve margin-right ver ki iki turlude istedihin goruntu gelsin...
}
 /*
label {
    width: 12rem;
    //height: 1rem;
    display:inline-flex;
    float: left;
    margin-left:1rem;
    font-size: 1rem;
    font-weight: bold;
    

}
*/


input{
    height: 2rem;
    font-size:1.1rem;
    margin-top:1rem auto;
    padding-top: 0.5rem;
    border-radius: 5px;  

}
input::placeholder{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 0.3rem;
    position: relative;
}

    



.userImage {
    background-color: $light;
    background: rgba(233, 243, 234, 0.6);
    margin-left: 1.5rem;
    position: relative;
    margin-bottom: 0.5rem;
    max-height: 40rem;

    

}

.submit {
               font-size: 1rem;
               background-color: $lime;
               padding: 10px 28px;
               border-radius: 4px;
               border:none;
               color:$light;
               margin-top: 1.5rem;
               cursor: pointer;
               //position: relative;
               transition: all 0.3s;
               margin-top:0.5rem;
                        
              

               &:hover{
                background: $orange;
                transition: all 0.3s ease;
                border-radius: 4px;
               }



               
}

.info {
    margin-top:-1rem;
    display: inline-block;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}

p  a{
    text-decoration: none;
    color:$blue;
    font-weight: bolder;
    font-size: 1.3rem;
}

.user {
    color:$orange;
   
  
}


.term {
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cond{
    font-size:1rem;
    text-decoration: none;
}
.check {
    position: absolute;
    margin-left:0.3rem;
    margin-top:-0.3rem;
}

.validation {
    color:rgb(182, 8, 8);
    display: grid;
    font-weight: bold;
}

